<div class="absolute inset-0 flex-col justify-center items-center hidden group-[.is-empty]:flex bg-gray-50">
  <h2 class="text-center text-2xl font-bold">
    Hi from the skeleton plugin! 🥸
  </h2>
  <div class="mt-4 text-gray-600 max-w-md mx-auto leading-9">
    <p>Hello <span class="text-lime-500 bg-lime-200">world</span>!!!</p>    
  </div>
</div>